*{
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
.navbar{
    border-radius: 0;
    background-color: rgb(250, 192, 85);
}
.navbar .navbar-brand{
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-left: 25px;
}
.navbar-brand:hover{
	color: black;
}
.navbar .navbar-toggle{
    background-color:rgb(250, 192, 85);
    border: 2px solid white;
}
.navbar .navbar-toggle .icon-bar{
    background-color: white;
}
.navbar .navbar-toggle:hover{
    background-color: black;
}
.navbar .navbar-nav{
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navbar-nav .nav-item:hover{
    border: 1px solid black;
} /*NAV END*/

.row{
    margin: 10px;
}
.row p{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:black;
    background-color: white;
    width: auto;
    height: auto;
    margin-top: 15px;
    padding: 20px;
}